body {
    background-color: #7c38e1;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23eae410' fill-opacity='0.28' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");


}
.defaultCountdown {
    width: 100%;
    height: 17vw;
    margin-bottom: 5vw;
   
}
.is-countdown {
    background-color: #F6AE2D;
    color: #5B3000;
}
h1 {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    color: #F6AE2D;
    font-size: 12vw;
    margin-bottom: 4vw;
}
.tbox {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    color: #dbf4ad;
    background-color: transparent;
    margin-bottom: 3vw;
    border-style: hidden;
    
}
button {
    background-color: #ECD444;
    color: #2274A5;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    width: 49%;
    float: right;
        
}
input {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1vw;
    background-color: #F9DC5C;
    color:#011936;
    width: 49%;
    
}
.timer {
    width: 80%;
    margin: auto;
}
/*Styles for Radio Buttons from https://thestizmedia.com/radio-buttons-as-toggle-buttons-with-css/ */
.switch-field {
    font-family: "Roboto", Tahoma, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    width: 50%;
    margin: auto;
}

.switch-title {
  margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.1vw;
    text-align: center;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
/*
.switch-field label {
  float: left;
}*/

.switch-field label {
  display: inline-block;
  width: auto;
  background-color: #F9DC5C;
  color: #011936;
  font-size: 2vw;
    font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #011936;
    color: #F9DC5C;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* Timer Styles from Plugin Author, with local mods */
/* jQuery Countdown styles 2.0.0. */

.is-countdown {
	border: 1px solid #ccc;
	background-color: #FFF94F;
    color: #011936;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown-amount {
    font-size: 10vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}
